{% extends 'base.html.twig' %}

{% block body %}
    <div
        {{ stimulus_controller('hello') }}>
        <input type="text"
            {{ stimulus_target('hello', 'name') }}>
        <button {{ stimulus_action('hello', 'greet', 'click') }}>
            Greet
        </button>
    </div>
{% endblock %}
