<div {{ attributes }}>
    <h1>ToDo list</h1>
    {% for task in this.tasks %}
        {{ component('TaskComponent', {
            task: task,
            key: task.id,
        }) }}
    {% endfor %}
</div>
