<div {{ attributes }}>
    {% if not isEditing %}
        <div>
            <h3>{{ task.description }}</h3>
            <div>
                {{ task.dueDate|date }}
            </div>
            <div>
                <button
                    data-action="live#action"
                    data-action-name="activateEditing"
                >
                    Edit
                </button>
                <button
                    data-action="live#action"
                    data-action-name="remove"
                >
                    Remove
                </button>
            </div>
        </div>
    {% else %}
        {{ form(form) }}
    {% endif %}
</div>
